.mar-top-30
%h4= @topic.name
%hr
.mar-top-30
= form_for @topic do |f|
  .row
    .col.s12.m6
      = f.fields_for :questions do |q|
        = q.fields_for :answers do |a|
          .col.s12.m12
            .card
              .card-content
                %i{class: "material-icons medium"}question_answer
                %span.card-title
                  = q.object.content
                %p
                  - if q.object.question_type_rating?
                    %p.range-field
                      = a.text_field :rating, max: @topic.rating_scale, min: 1, type: 'range'
                  - else
                    .input-field
                      %i.material-icons.prefix mode_edit
                      = a.text_area :content, class: "materialize-textarea", id: 'icon_prefix2', rows: 2
                      %label{:for => "icon_prefix2"} Type Here

    .col.s12.m6

